<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>City</title>
    </head>
    <body>
	<form action="/search" method="post">
		City*: <select name="user_city" id="user_city">
			{% for city in cities %}
				<option value="{{ city.city_id }}"  required>{{city.name}} </option>
			{% endfor %}
			</select>
		</br>	
		Tag*: <select name="tag" id="tag">
			{% for tag in tags %}
				<option value="{{tag.tag_def_id}}">{{tag.tag}}</option>
			{% endfor %}
			</select>	
		</br>
		 <button type="submit">Randomize</button>
	</form>

    </body>
</html>
